body {background-image: url("Mountains.jpg");
      opacity: 0.75;
      text-align: center;
      color: black;
     }

#image {height: 400px;
        width: 400px;
        opacity: 1.0;
        border-radius: 50%;
       }

#construction {background-color: yellow;
               text-align: center;
               font-color: red;
              }
               
               
