body {background-color: hsla(120, 100%, 25%, 0.3);
      text-align: center;
      color: black;
     }

#image {height: 400px;
        width: 400px;
        opacity: 1.0;
       }

#construction {background-color: yellow;
               text-align: center;
               font-color: red;
              }
               
               
