body {background-color: blue;
      text-align: center;
     }

#construction {background-color: yellow;
               text-align: center;
               font-color: red;
              }
               
               
